<div class="container mt-5 ">
    <div class="p-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-md-5">
        <div class="lovestory-header">
            <h1 class="section-title parallax active"> About us</h1>
        </div>
        <p>Photography was always my passion and my dream job. It’s even difficult for me to call it a job, as I consider my profession as a hobby of my life. Meeting new people, catching their mood, being part of the happiest moments of their life — isn’t it a dream?</p>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid infocard p-2 about-img " src="/assets/images/about-us.jpg" alt="">
        </div>
    </div>
</div>
 </div>