

   <section>
    <section id="contact" class="contact parallax animitem active">
        <div class="container anim">
          <div class="row g-4 align-items-md-center justify-content-center">
            <div class="col-7">
              <form class="contact-form needs-validation" novalidate="">
                <h2 class="section-title parallax active mb-2">Book a photoshoot</h2>
    
                <div class="row g-3 parallax">
               
    
                  <div class="col-lg-6">
                    <input type="text" class="form-control" id="name" placeholder="Name" autocomplete="off" required="">
                    <div class="invalid-feedback">
                      Please choose a name.
                    </div>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
    
                  <div class="col-lg-6">
                    <input type="email" class="form-control" id="email" placeholder="E-Mail" autocomplete="off" required="">
                    <div class="invalid-feedback">
                      Please enter a valid email.
                    </div>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
    
                  
    
                  <div class="col-12">
                    <textarea class="form-control" id="message" rows="1" placeholder="Message" autocomplete="off" required=""></textarea>
                    <div class="invalid-feedback">
                      Please give a message.
                    </div>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
    
                  <div class="col-12 mt-5">
                    <button class="btn-submit" type="submit">SUBMIT</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
   </section>
