
    <!-- HOME-SLIDER START -->
    <section class="gallery-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4  mb-3 card-blog">
                            <div class=" cursor-pointer  card-blog-header">
                                <figure class="blog-thumbnail parallax active"><img class="img-fluid " src="/assets/images/gallery/haldi-img.jpg"
                                        alt="Adichunchanagiri Institute of Medical Sciences"></figure>
                            </div>
                        </div>
                        <div class="col-md-4  mb-3 card-blog">
                            <div class=" cursor-pointer  card-blog-header">
                                <figure class="blog-thumbnail parallax active"><img class="img-fluid " src="/assets/images/gallery/mehenedi1.jpg"
                                        alt="Adichunchanagiri Institute of Medical Sciences"></figure>
                            </div>
                        </div>
                        <div class="col-md-4  mb-3 card-blog">
                            <div class=" cursor-pointer  card-blog-header">
                                <figure class="blog-thumbnail parallax active"><img class="img-fluid " src="/assets/images/gallery/haldi2.jpg"
                                        alt="Adichunchanagiri Institute of Medical Sciences"></figure>
                            </div>
                        </div>
                        <div class="col-md-4  mb-3 card-blog">
                            <div class=" cursor-pointer  card-blog-header">
                                <figure class="blog-thumbnail parallax active"><img class="img-fluid " src="/assets/images/gallery/wedding-photo.jpg"
                                        alt="Adichunchanagiri Institute of Medical Sciences"></figure>
                            </div>
                        </div>
                        <div class="col-md-4  mb-3 card-blog">
                            <div class=" cursor-pointer  card-blog-header">
                                <figure class="blog-thumbnail parallax active"><img class="img-fluid " src="/assets/images/gallery/wedding-shoot2.jpeg"
                                        alt="Adichunchanagiri Institute of Medical Sciences"></figure>
                            </div>
                        </div>
                        <div class="col-md-4  mb-3 card-blog">
                            <div class=" cursor-pointer  card-blog-header">
                                <figure class="blog-thumbnail parallax active"><img class="img-fluid " src="/assets/images/gallery/wedding-shoot5.jpeg"
                                        alt="Adichunchanagiri Institute of Medical Sciences"></figure>
                            </div>
                        </div>
                     
                    </div>

                </div>
            </div>
        </div>
    </section>  
