<section  class="gallery-sec">
<div class="container">
    <div class="row">
        <div class="col-4 ">
            <figure>
              <img class="img-fluid gallery-img" src="/assets/images/gallery/haldi-img.jpg" alt="haldi img ">
            </figure>
        </div>
        <div class="col-4">
            <figure>
                <img class="img-fluid gallery-img" src="/assets/images/gallery/mehenedi1.jpg" alt="haldi img ">
              </figure>
        </div>
        <div class="col-4">
            <figure>
                <img class="img-fluid gallery-img" src="/assets/images/gallery/wedding-shoot1.jpg" alt="haldi img ">
              </figure>
        </div>
        <div class="col-4">
            <figure>
                <img class="img-fluid gallery-img" src="/assets/images/gallery/haldi-img.jpg" alt="haldi img ">
              </figure>
        </div>
    </div>
    
</div>
</section>