<section>
  <!-- HEADER-SECTION START -->
 
  



  <header class="header header-fixed" id="header">
     <div class="container">
         <nav class="header-nav">
             <!-- BRAND-LOGO START -->
             <div class="row">
                 <div class="col-4 col-lg-2">
                     <a href="index.html" class="logo">
                         <img  src="/assets/images/logo/logo-white.png" alt="BRAND-LOGO" class="logo-light img-fluid">
                         <img src="/assets/images/logo/logo-black.png" alt="BRAND-LOGO" class="logo-dark img-fluid">
                     </a>
                 </div>
                 <div class="col-8 col-lg-9 pt-0 d-flex">
                     <div class="nav-center">
                         <ul class="nav-list d-flex mb-0">
                             <li><a routerLink="">Home</a></li>
                             <li><a routerLink="/about">About</a></li>
                             <li><a routerLink="/gallery">gallery</a></li>
                             <li><a routerLink="/contact">Contact </a></li>
                             <li><a routerLink="/blog">Blog</a></li>
                         </ul>
                       
                     </div>
                 </div>
             </div>               
         </nav>
     </div>
 </header>
 <!-- HEADER-SECTION END -->
 <!-- SIDE-MENU START -->
 <div class="offcanvas offcanvas-top pe-0 w-100" tabindex="-1" id="sidemenu" aria-labelledby="sidemenu">
     <div class="offcanvas-body p-0">
         <div class="row g-0">
             <div class="col-lg-12 col-xl-12 col-12">
                 <aside class="sidemenu">
                 
                     <nav class="sidenav">
                         <ul class="sidelist">
                             <li class="sidelist-item">
                                 <a href="/index.html" class="sidelist-link">Home</a>
                             </li>
                             <li class="sidelist-item">
                                 <a href="/gallery.html" class="sidelist-link">Gallery</a>
                             </li>
                             <li class="sidelist-item">
                                 <a href="#whenwhere" class="sidelist-link">Contact Us</a>
                             </li>
                             <li class="sidelist-item">
                                 <a href="#ourgallery" class="sidelist-link">Blog</a>
                             </li>
                         </ul>
                     </nav>
                 </aside>
             </div>
            
         </div>
     </div>
 </div>
 <!-- SIDE-MENU END -->
  </section>
 


<router-outlet></router-outlet>

<!-- FOOTER-SECTION START -->
<footer class="footer parallax animitem">
    <div class="container anim">
      <div class="row">
        <div class="col-md-6 mx-md-auto">
          <div class="footer-info">
            <div class="info">
              <h4 class="info-title">Storiesbyrk</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- LEFT-ICON -->   
  </footer>

  <!-- Add more ngbSlide templates for additional slides -->
