
  <!-- HEADER-SECTION START -->

  <section>
    <main class="blogmain animitem">
      <div class="container anim">
        <div class="row g-4">
          <div class="col-lg-7 col-xl-8">
            <div class="infocard p-3 mb-3">
              <div class="leftinfo">
                <div class="bloglist">
                  <div class="card-blog parallax active">
                    <div class="card-blog-header">
                      
                        <figure class="blog-thumbnail parallax active">
                          <img src="/assets/images/banner/banner-3.jpg" alt="blog-thumbnail">
                        </figure>
                      
  
                      <p class="date-category parallax">
                        <span class="date">June 5 , 2023</span> / <span class="category">Wedding Event</span>
                      </p>
                    </div>
                    <div class="card-blog-body">
                      
                        <h2 class="blog-title parallax">25 Places To Get The Most Original Bouquets</h2>
                      
                      <p class="section-text parallax">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam,...
                      </p>
  
                      <div class="d-flex align-items-center justify-content-between parallax">
                        
                          <span class="readmore">Read More</span>
                        
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
            <div class="infocard p-3 mb-3">
              <div class="leftinfo">
                <div class="bloglist">
                  <div class="card-blog parallax">
                    <div class="card-blog-header">
                      
                        <figure class="blog-thumbnail parallax">
                          <img src="/assets/images/banner/banner-1.jpg" alt="blog-thumbnail">
                        </figure>
                      
  
                      <p class="date-category parallax">
                        <span class="date">June 5 , 2023</span> / <span class="category">Wedding Event</span>
                      </p>
                    </div>
                    <div class="card-blog-body">
                      
                        <h2 class="blog-title parallax">25 Places To Get The Most Original Bouquets</h2>
                      
  
                      <p class="section-text parallax">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam,...
                      </p>
  
                      <div class="d-flex align-items-center justify-content-between parallax">
                        
                          <span class="readmore">Read More</span>
                        
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
            
          </div>

          <div class="col-lg-5 col-xl-4">
            <div class="rightinfo">
              <!-- CATEORIES -->
              <div class="rightcontent">
                <div class="rightcontent-header parallax">
                  <h5 class="title">Categories</h5>
                </div>

                <div class="rightcontent-body parallax">
                  <ul class="categorylist">
                    <li class="categorylist-item">
                      
                        <span>Wedding Event</span>
                        <span>5</span>
                      
                    </li>

                    <li class="categorylist-item">
                      
                        <span>Photography</span>
                        <span>4</span>
                      
                    </li>

                    <li class="categorylist-item">
                      
                        <span>Album</span>
                        <span>2</span>
                      
                    </li>

                    <li class="categorylist-item">
                      
                        <span>Wedding Dress</span>
                        <span>7</span>
                      
                    </li>

                    <li class="categorylist-item">
                      
                        <span>Best Gift</span>
                        <span>6</span>
                      
                    </li>

                    <li class="categorylist-item">
                        <span>Wedding Tips</span>
                        <span>3</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </section>

